<!DOCTYPE html>
<html>
<head>
  <title>MhBlog</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'css/style' %>
</head>

<body>
<div id="container">
  <div id="wrap">
    <div id="banner-container"></div>
    <div id="outer-container"></div>
    <div id="footer-container"></div>
    <%= yield %>
  </div>
</div>
</body>
</html>
